.container-fluiid{
    background-image: url("../img/eco_parailustrar_copia.jpg");
    opacity: 5;
    width:100%;
    height: 400px;
    background-size: 100vw auto;
    background-size: cover;
    background-attachment: fixed;
}

body label{
    padding: 30px;
    height: 50px;
}

.title{
    text-align: center;
    color: rgb(0, 0, 0);
}
.row{
    align-items: center;
    text-align: center;
}

input{
    align-items: center;
}
.container-fluiid{
    align-items: center;
}

.container-form{
    border-radius: 5px;
    align-items:center;
}

.form-group[type=input]{
    margin-top: 10px;
    border-radius: 3px;
}

.form-group[type=input]{
    margin-top: 10px;
    border-radius: 3px;
}

.row{
    margin-bottom: 50px;
}

#IdListNav{
    border-radius: 5px;
    border-width: 1px;
}

button{
    border-color: cornsilk;
    padding: 100%;
}